body {
  background-color: antiquewhite;
}

h1 { 
font-size: 6vw;
}
ul {
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 1dvb;
  margin-left: 1cqmin;
}

ol  {
  list-style-type: numbers;
  list-style-position: inside;
  padding-right: 10px;
  margin-right: 25px;
  box-sizing: content-box;

}